@import url('https://fonts.googleapis.com/css2?family=Caladea&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea&family=Lato&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea&family=Lato&family=Oswald:wght@200;400;500&display=swap');


@media (min-width: 1024px) {

    .menu {
        display: none;
    }

    .nav {
        /* Size */
        width: 100%;
        min-height: 10vh;
        height: 10vh;
        max-height: 10vh;

        /* Margins and Paddings */
        padding: 0;

        /* Display Code */
        display: flex;
        justify-content: space-between;

        background-color: black;
        color: white;

        /* Positions */

        position: fixed;
        top: 0%;
        z-index: 9;

    }

    .nav div {
        border: 1px solid black;
        height: 100%;
    }

    /* Nav Arrangements */

    .nav a,
    .nav-links li {
        color: white;
    }

    .title,
    .nav-links,
    .join {
        font-family: 'Caladea', serif;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .title {
        width: 20%;
        cursor: pointer;
    }

    .nav-links {
        width: 70%;
    }

    .join {
        width: 10%;
    }

    .nav-links ul {
        display: flex;
        width: 100%;
        min-height: 100%;
        align-items: center;
        justify-content: space-evenly;
    }

    .join {
        background-color: white;
        height: 100%;
    }

    .join a {
        color: red;
        /* border: 1px solid red; */
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: black;
    }

    .join a:hover {
        background-color: white;
        border: none;
        color: black;
    }

    .nav-links a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10vh;
    }

    .nav-links a:hover {
        border-bottom: 5px solid white;
        background-color: rgba(255, 255, 255, 0.25);

    }

    .join_now a:hover {
        background-color: rgb(255, 255, 255, 0.1);
        color: white;
    }

    /* Nav arrangements ends */

    /* Main-section Begins */

    .main-container-bg {
        margin-top: 10vh;
        background-color: black;
        background-image: url(https://t4.ftcdn.net/jpg/03/50/81/89/360_F_350818949_lJTfzSTDr79e9Kn55PUVZjN19ct20uGc.jpg);
        min-height: 80vh;
        height: 80vh;
        background-size: cover;
        background-position: center;
        padding: 0 7rem;
        transition: all ease-in 0.5s;
        animation: fade-in 0.5s ease-out 0s 1;
    }

    .main-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* animation: fade-in ease-in 3s 0.75s; */
    }

    @keyframes fade-in {
        from {
            /* position: relative;asdf
            top: 5%; */
            opacity: 0;
        }

        to {
            opacity: 1;
            /* top: 0%; */
        }
    }


    .main-container p,
    .main-container h1 {
        margin: 0.5rem 0;
    }

    .book_now {
        background-color: white;
        color: black;
        width: 7rem;
        padding: 1rem 0;
        margin: 2rem 0;
        text-align: center;
        font-weight: 700;
        font-family: 'Caladea', serif;
    }

    .book_now:hover {
        background-color: rgb(255, 255, 255, 0.1);
        color: white;
    }

    /* Main-Section Ends */

    /* About Section Begins */

    .about {
        width: 100%;
        height: auto;
        color: white;
        background-color: black;
        display: flex;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    .about img {
        width: 40%;
    }

    .about-wrapper {
        width: 60%;
        padding: 0 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .aboutContent {
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
    }


    .aboutContent a {
        background-color: white;
        color: black;
        width: 7rem;
        padding: 1rem 0;
        margin: 2rem 0;
        text-align: center;
        font-weight: 700;
        font-family: 'Caladea', serif;
    }

    .aboutContent h2,
    .aboutContent p,
    .aboutContent a {
        margin: 2rem 0;
    }

    .aboutContent a:hover {
        cursor: pointer;
        border: 1px solid black;
        background-color: rgb(255, 255, 255, 0.1);
        color: white;
    }


    /* About Section Ends */

    /* Services Stling Begins*/

    .services {
        color: white;
        background-image: url(https://memberpress.com/wp-content/uploads/2015/11/fitness-membership-website.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .services-main-container {
        width: 100%;
        height: 100%;
        padding: 2rem 1rem 0 1rem;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .services-container {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .services h1 {
        height: 10%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .containers {
        width: 60%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        font-weight: 600;
        font-family: 'Lato', sans-serif;
    }

    .containers a {
        text-decoration: none;
        display: flex;
        justify-content: space-evenly;
        /* padding: 0 4rem; */
        align-items: center;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .container-top,
    .container-bottom {
        display: flex;
        width: 100%;
        min-height: 55%;
    }

    .service i {
        display: block;
        font-size: 1.75rem;
    }

    .container-top div,
    .container-bottom div {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 3px solid white;
        border-radius: 1rem;
        margin: 0.5rem;
    }

    .service3 {
        position: absolute;
        height: 7.5rem;
        width: 7.5rem;
        border: 10px solid black;
        border-radius: 100%;
        outline: 3px solid white;
    }

    .service3 img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }


    .container-top div a:hover,
    .container-bottom div a:hover {
        background-color: maroon;
        border-radius: 1rem;
    }

    /* Services Styling Ends */

    /* Prices Styling */

    .prices {
        width: 100%;
        min-height: 100vh;
        height: 80vh;
        background-image: url(https://4.bp.blogspot.com/-pqL8QVJVlAk/WtdHRBZQk-I/AAAAAAAAivA/0uPVGOHOIuUB7NI-W9WpAYuYi70x3F3JQCLcBGAs/s640/Gym-and-Bodybuilding-Quotes-for-Workout-Motivation-header-image.jpg);
        background-position: center;
        background-size: cover;
        font-size: 1.15rem;
    }

    .prices-container {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
    }

    .prices-title {
        text-align: center;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .divs {
        min-height: 80%;
        height: 80%;
        padding: 0 2rem;
        margin: 1rem 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .plans {
        border: 2.5px solid white;
        border-radius: 10px;
        background-color: black;
        width: 100%;
        height: 100%;
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2rem;
        font-family: 'Caladea', serif;
    }

    .plans i {
        padding: 1.5rem;
        font-size: 2rem;
        background-color: white;
        border-radius: 100%;
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .plans a {
        background-color: white;
        color: black;
        width: 100%;
        padding: 1rem 0;
        margin: 2rem 0;
        text-align: center;
        font-weight: 700;
        font-family: 'Caladea', serif;
    }

    .plans a:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
    }

    .pricetag {
        color: red;
        font-weight: 900;
    }

    .textContent {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        font-weight: 700;
        gap: 5px;
    }

    .view_plan {
        font-size: 1.5rem;
    }

    .textContent a {
        color: red;
    }

    .contents p {
        margin: 5px 0;
    }


    /* Prices Styling Ends */

    /* Offer Styling Begins */

    .offers {
        color: white;
        min-height: 50vh;
        height: 50vh;
        background-image: url(https://img.freepik.com/premium-photo/3d-rendering-black-dumbbells-floor-dark-concept-fitness-room-with-training-equipments-back_67155-14961.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .off {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.75);
    }

    .offer-container {
        width: 35%;
        height: 70%;
        display: flex;
        flex-direction: column;
        border: 10px solid white;
        border-radius: 1rem;
        justify-content: space-around;
        align-items: center;
        margin: 0 5rem;
        padding: 1rem;
    }

    .offer-container a {
        padding: 1rem 3rem;
        background-color: white;
        color: black;
        text-align: center;
        font-weight: 700;
        font-family: 'Caladea', serif;
    }

    .offer-container a:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
    }

    /* Offer Styling Ends */

    /* BMI Styling Begins */

    .bmi {
        width: 100%;
        min-height: 80vh;
        color: black;
    }

    .bmi-container {
        width: 100%;
        min-height: 80vh;
        display: flex;
    }

    .container1,
    .container2 {
        width: 50%;
        min-height: 100%;
    }

    .container1 {
        padding: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-right: 1px solid black;
        gap: 50px;
    }

    .text h1 {
        margin: 1rem 0;
    }

    .text p {
        width: 80%;
        text-align: justify;
    }

    .form {
        width: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .inputset1 input,
    .inputset2 input,
    .inputset2 select {
        margin: 0 1rem 1rem 0;
    }

    .form input,
    .form select {
        width: 12rem;
        height: 3.5rem;
        /* margin: 1rem; */
        padding: 1rem;
        font-weight: bold;
    }

    .calculate {
        /* width: 100%; */
        margin: 1rem 0 0 0;
        padding: 1rem 3rem;
        background-color: black;
        color: white;
        text-align: center;
        font-weight: 700;
        font-family: 'Caladea', serif;
    }

    .calculate:hover {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid black;
        color: black;
    }

    .container2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;
    }


    .result {
        width: 100%;
        text-align: center;
        margin-top: 3rem;
        padding: 1rem 0;
        font-family: 'Caladea', serif;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        border: 1px solid black;
        /* background-color: black; */
        color: black;
        display: none;
    }

    .discount {
        color: red;
        animation: blink 1s infinite;
        margin: 0 0.5rem;
        font-size: 2rem;
    }

    @keyframes blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    /* bmi styling */

    .data {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    .data div {
        width: 100%;
        text-align: center;
    }

    .data p {
        font-family: 'Caladea', sans-serif;
        font-weight: 500;
        padding: 1rem 2rem;
    }

    .data-heading {
        font-weight: 900;
        border-bottom: 3px solid black;
    }

    .score p {
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }

    .status p {
        border-left: 1px solid black;
        border-bottom: 1px solid black;
    }

    /* BMI Styling Ends */

    .quotes {
        min-height: 50vh;
        width: 100%;
        background-image: url(https://cdn.pixabay.com/photo/2020/01/12/16/57/stadium-4760441_1280.jpg), linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
        background-blend-mode: overlay;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .quotes-container {
        width: 100%;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-tc {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }



    .quotes-quote {
        font-size: 1.3rem;
        font-weight: 400;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        min-width: 50%;
        max-width: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease-in-out 0.5s;
    }

    .left,
    .right {
        padding: 2rem 1rem;
        color: black;
        font-weight: 900;
        font-size: 3rem;
        color: rgb(187, 187, 187);
        font-family: 'Oswald', sans-serif;
    }

    .right::selection {
        background-color: none;
        color: white;
    }

    .left::selection {
        background-color: none;
        color: white;
    }

    .left:hover {
        color: white;
    }

    .right:hover {
        color: white;
    }

    .map {
        width: 100%;
        min-height: 50vh;
    }

    .map iframe {
        width: 100%;
        min-height: 100%;
        filter: invert(100%);
    }

    .instagram-media {
        min-width: 100%;
    }

    .reviews {
        color: black;
        width: 100%;
        min-height: 80vh;
    }

    .reviews h1 {
        text-align: center;
        padding: 2rem;
    }

    .reviews-container {
        width: 100%;
        min-height: 80vh;
        display: flex;
        padding: 0 5rem 5rem 5rem;
        justify-content: space-around;
    }

    .readMore {
        color: black;
    }

    .review img {
        width: 3rem;
        height: 3rem;
    }

    .review {
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
        background-color: rgb(170, 170, 170);
        display: flex;
        flex-direction: column;
        font-weight: 600;
        width: 30%;
        padding: 0 2rem;
        justify-content: space-evenly;
        font-family: 'Caladea', sans-serif;
    }

    .name {
        font-weight: 900;
        font-family: 'Caladea', sans-serif;
    }

    /* .review:hover {
        background-color: rgba(0, 0, 0, 0.8);
        font-weight: 600;
        letter-spacing: 1px;
        color: white;
    } */

    .review p {
        width: 100%;
        text-align: justify;
    }

    /* Footer Styling Begins */

    .footer {
        background-color: black;
        min-height: 50vh;
        height: 50vh;
        width: 100%;
        padding: 3rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Caladea', sans-serif;
    }

    .linkss,
    .address,
    .times {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .linkss,
    .address {
        border-right: 1px solid white;
    }


    .links-title {
        font-size: 3rem;
        font-weight: 800;
        margin: 2rem 0;
    }

    .socials {
        display: flex;
        width: 80%;
        margin: 0.60rem 0;
        align-items: center;
        justify-content: space-evenly;
    }

    .socials i {
        margin: 0 1rem 0 0;
        font-size: 2rem;
        width: 20%;
        text-align: center;
    }

    .socials a {
        height: 100%;
        width: 80%;
        display: flex;
        align-items: center;
        text-align: left;
    }

    .address {
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .address p {
        width: 100%;
        padding: 2rem;
    }

    .times a {
        padding: 1rem 2rem;
        background-color: white;
        color: black;
        margin: 2rem 0;
        font-weight: 600;
    }

    .times a:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
    }

    /* Footer Styling Ends */

}